#r2p_parse_now {
height:30px;
float:left;
}
#show_progressbar_button {
display:block; 
float:left;
padding-left:20px;
margin-top:8px;
display:none;
}
.form-table th {
padding-top:15px;
}
.r2plabel {
font-size:14px;
}
.r2ptextbox {
height:32px;
line-height:100%;
outline: 0 none;
padding: 3px 8px;
width:80%;
font-variant:normal !important;
}

